.estilo {
  min-height: 1vh;
  border-radius: 15px;
  margin-left: 400px;
  margin-right: 400px;
  display: grid;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #c5c4c4;
}

.item {
    border-radius: 15px;
    margin: 15px;
    padding: 16px;
    box-shadow: 0 2px 5px 0 #CCC;
    color: rgb(255, 255, 255);
    background-color: gray;
};
