.estilo {
  min-height: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  margin: 0;
  background-color: black;
}

.header {
    border-radius: 15px;
    margin: 15px;
    padding: 16px;
    box-shadow: 0 2px 5px 0 #CCC;
    color: white;
    background-color: gray;
};
